/*universal styles*/

body {
	font-family: Comfortaa, sans-serif, serif;
	width: 100%;
	color: #414141;
	background-color: #F1F1F1;
}

html {
	font-size: 16px;
}

/*font styling*/

.imagetext span, .modulinfo h2{
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2rem;
}

.imagetext p, .modulinfo p {
	line-height: 1.5rem;
	font-weight: 300;
	padding: 0.5rem 0;
}

.imagetext a {
	text-decoration: none;
	color: deepskyblue;
	line-height: 1.7rem;
}

.practice h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-top: 2rem;
}

.practice p, .videotext p {
	line-height: 1.5rem;
	font-weight: 300;
	padding: 1.8rem 0 2rem 0;
}

.practice span {
	font-weight: normal;
	font-size: 0.9rem;
}

.modulinfo span {
	line-height: 2.5rem;
	font-weight: 300;
	padding: 1rem 0;
}

.modulinfo p {
	padding: 0;
}

.videotext span {
	font-size: 1.5rem;
}

/*header section*/

header {
	width: 100%;
	height: 4rem;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 1;
}

header #logo {
	display: flex;
	align-items: center;
	margin-left: 1.5rem;
}

#logo .image img {
	height: 2rem;
}

.logotext {
	font-size: 1.1rem;
}

.logotext span:first-child {
	font-weight: 700;
	color: #414141;
}

.logotext span:last-child {
	color: grey;
	font-weight: 400;
}

#mqimages {
	display: none;
}

/*navigation section*/

#nav {
	margin-right: 1.5rem;
	
}

#nav a {
	text-decoration: none;
	color: #424242;
	padding: 8px 8px;
	transition: background-color 0.4s ease-in-out 30ms, color 0.4s ease-in-out 30ms;
}

#nav a:hover {
	background-color: #414141;
	color: white;
}

/*banner section*/

.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #D0D0D0;
}

.banner, .keep-practicing {
	position: relative;
	top: 4rem;
}

.banner .image {
	width: 60%;
	margin: 0 1.5rem;
}

.banner .image img {
	width: 100%;
	margin: 2rem 0;
}

.banner .info {
	width: 35.5%;
	height: 18rem;
	text-align: left;
	overflow: scroll;
	margin-top: 2rem;
}

.banner .info p:first-child {
	font-size: 2.5rem;
	font-weight: bold;
	line-height: 2.8rem;
}

.banner .info p{
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 1.7rem;
}

.banner .info span {
	position: relative;
	top: 1.5rem;
}

.info span a {
	text-decoration: none;
	color: #D0D0D0;
	padding: 8px 26%;
	background-color: #414141;
	transition: background-color 0.3s ease-in-out 50ms, color 0.3s ease-in-out 50ms;
}
.info span a:hover {
	color: white;
	background-color: #969696;
}

/*content*/
/*section1*/

#section1 {
	margin-left: 1.5rem;
	position: relative;
	top: 6rem;
	display: flex;
	justify-content: space-between;
}

/*left column*/

.columnleft {
	width: 60%;
	margin-right: 2rem;
	margin-bottom: 2rem;
}

.columnleft img {
	width: 100%;
	flex: 0 0 60%;
}

/*right column*/

.columnright {
	width: 37%;
	overflow: scroll;
}

.columnright img {
	width: 100%;
	height: auto;
	flex: 0 0 100%;
	min-width: 100px;
}

.imagetext {
	width: 52.6%;
	flex: 0 0 52.6%;
	padding-left: 1rem;
	min-width: 100px;
}

.row1, .row2, .row3 {
	display: flex;
	flex: auto;
	align-items: center;
	padding: 1rem;
}

.row3 {
	background-color: lightgray;
	margin: 0;
}

.row1 {
	padding-top: 0;
}

.mqrows {
	display: none;
}

/*section 2*/

#section2 {
	position: relative;
	top: 9rem;
	background-color: #D0D0D0;
	padding-bottom: 2rem;
}

#section2 h1, #section3 h1 {
	padding: 2rem 0;
	font-size: 2.5rem;
	font-weight: 700;
	text-align: center;
}

.modulrow1, .modulrow2 {
	display: flex;
	margin: 0 3.5rem;
	width: auto;
}

.modulrow2 {
	margin-top: 2rem;
}

.computer, .business, .modul {
	margin: 0 1rem
}

#section2 img {
	width: 100%;
}

.modul, .computer, .business {
	background-color: white;
	width: 100%
}

.modulinfo {
	margin: 0.5rem 1rem 2rem 1rem;
}

/*section 3*/

#section3 {
    position: relative;
	top: 9rem;
}

#cols {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left: 1.5rem;
}

.columnleft video {
	width: 100%;
}

#section3 .row1 {
	background-color: lightgray;
}

#section3 .row1 img {
	padding-top: 1rem;
}

.videotext {
	margin-top: 2rem;
}

/*footer*/

#footer {
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 8rem;
	margin: 0 1.5rem;
	border-top: 0.5px solid lightgray;
}

.copyright, .links {
	padding-top: 1rem;
	padding-bottom: 4rem;
}

.links a {
	padding: 0 0.5rem;
}

/*media queries*/

@media only screen and (max-width: 360px) {
	
	html {
		font-size: 14px;
	}
	
	/*header*/
	
	#logo, #nav {
		display: none !important;
	}
	
	#mqimages {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	
	#mqimages img {
		padding: 0 1rem;
	}
	
	#mqimages a {
		margin: 0 auto;
	}
	
	/*banner section*/
	
	.banner {
		flex-direction: column;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	
	.banner .image {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
	.banner .info {
		width: 100%;
		overflow: hidden;
		position: relative;
		top: -2rem;
		text-align: center;
	}
	
	.infolink {
		width: 100%;
		height: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.info span a {
		padding: 0.5rem 7rem;
		width: 100%;
	}
	
	/*section1*/
	
	#section1, .modulrow1, .modulrow2, #cols{
		flex-direction: column;
		margin: 0;
	}
	
	#section1 .columnright {
		width: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	
	.columnright .image {
		margin: 0!important;
		padding: 0!important;
	}
	
	.row1, .row2, .row3 {
		flex-direction: column;
		overflow: hidden;
		margin: 0;
	}
	
	.imagetext {
		width: 100%;
		margin-top: 2rem;
	}

	.row3 {
		background-color: #F1F1F1;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	.mqrows {
		display: inherit;
	}
	
	/*section2*/
	
	#section2 {
		background-color: #F1F1F1;
		margin: 0;
		padding: 0;
	}
	
	#section2 h1 {
		margin: -2rem 0 -0.5rem 0;
	}
	
	.modul img, .computer img, .business img, .videotext, #section3 .columnright, .modulinfo span, .modulinfo p, .columnright .image, #section1 .columnleft, .links {
		display: none;
	}
	
	.modulrow1, .modulrow2 {
		width: 91%;
		margin: 0;
	}
	
	.modulinfo {
		width: 100%;
		margin: 0;
		padding: 1rem 1rem;
	}
	
	.modul, .computer, .business {
		margin: 0.5rem 1rem;
		background-color: #D0D0D0;
	}
	
	/*section3*/
	
	#section3 {
		margin-top: 1rem;
	}
	
	.columnleft {
		width: 100%;
	}
	
	.copyright {
		width: 100%;
	}

}
